/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/********** Structure **********/
.container-fluid{
    width: 100%;
    height:100px;
    background-color: #8890BF;
}
.container {
    max-width:1440px;
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    position: relative;
}
/****** Header ******/
.menu a {
    text-decoration: none;
    color: #8890BF;
    position: relative;
}
.active{
    color: white;
    text-decoration: none;
}
/****** Typography *****/
h1{
    font-family: Metal Mania, cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    margin-top: 45px;
    line-height: 120%;
    color: #8890BF;
}
.h1-gallery{
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    color: #111C59;
    margin-top: 0;
}
h2{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #CED3F2;
}
.h22{
    margin-top: 0;
    text-align: center;
}
.h2-trama{
    color: #8890BF;
    margin-left:20px;
    margin-top: 60px;
}
.h2-titolo{
    color: #8890BF;
    font-family: Metal Mania, cursive;
    text-align: center;
    margin-top: 10px;
}
.h2-cast{
    color: #111C59;
    text-align: center;
}
.h2-curiosità{
    color: white;
    text-align: center;
}
h3{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    color: #CED3F2;
}
.subtitle{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #111C59;
    margin-top: 10px;
}
.subtitle2{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #CED3F2;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 5px;
}
.subtitle3{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: white;
    margin-top: 10px;
}
.subtitle-gallery{
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    color: #111C59;
    text-align: center;
    padding: 20px;
}
.titolo2{
    color: #111C59;
}
p{
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color:#CED3F2;
}
.p2{
    color: #111C59;
    margin-top: 20px;
    margin-left:20px;
}
.p3{
    color: white;
    margin-top: 20px;
    margin-left:0;
    margin-right: 10px;
}
.p-cast{
    font-family: Montserrat, sans-serif;
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: black;
    text-align: center;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
.p-cast:hover{
    transform: scale(1.1);
}
.personaggi {
    font-family: Montserrat, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #111C59;
    text-align: center;
    margin-top: 10px;
}
.personaggi:hover{
    transform: scale(1.2);
}
.p-curiosità{
    color: black;
    margin-top: 5px;
    padding: 20px;
 }
.curiosity{
    color: white;
    font-size:24px;
    margin-top: 20px;
}
.p-curiosità:hover{
    color: black;
    font-weight: 700;
}
.curiosity:hover{
    color: white;
    font-weight: 700;
}
/* Navbar */
#navbar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
}
nav ul li{
    margin-left: 50px;
    text-decoration: none;
}
a{
    text-decoration:none;
    font-family:Montserrat, sans-serif;
    color: black;
    margin-top: 10px;
}

/* Sezioni */
.banner{
    height: 400px;
    width: 100%;
    background-image: url("img/addams wednesday.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size:100%;
}
.main2{
    background-color: #111C59;
    height: 1836px;
}
.home-section{
    width: 100%;
    height:577px;
}
.home-section h2{
    color: #CED3F2;
}
.center-align {
    height: auto;
    max-width:1440px;
    margin: auto;
    display: flex;
}
.ispirazione{
    max-width:1440px;
    width: 100%;
    height: auto;
    position: absolute;
}
.float-right{
    float: right;
    margin-top:85px;
    width:520px;
    height: auto;
    margin-left: 70px;
    margin-right: 10px;
}
.float-left{
    float: left;
    padding-top: 60px;
}
#p1{
    margin-left: 128px;
}

.text-center{text-align: center}

.img-fluid1{
    width:628px;
    height:375px;
    margin-top:105px;
}
.img3{
   width: 100%;
    margin-left: 25px;
}
#right{
    width: 55%;
    float: right;
    margin-top: 143px;
}
.img-small{
    width: 1020px;
    height: 868px;
    margin-left:auto;
    margin-right:auto;
    margin-top:90px;
}

.text-center{
    text-align:center;
}
.center{
    margin-top: 40px;
}
#text{
    color: #111C59;
}
.button1 {
    background-color: #111C59;
    color: white;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
}

.button1:hover {
    background-color: #B5BAD7;
    color: white;
    border: 2px solid #111C59;
}
.button1 a {
    color: white;
}
.button2 {
    background-color: #111C59;
    color: white;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
    position: relative;
}
.button2:hover {
    background-color: #B5BAD7;
    color: white;
    border: 2px solid #111C59;
}
.button2 a {
    color: white;
}
.p1{
    color: #CED3F2;
    margin-top: 40px;
}
.section-home{
    background-color:#B5BAD7;
    width: 100%;
    height:766px;
}

.container-footer{
    width: 100%;
    height: 350px;
    margin: auto;
    background-color: #111C59;

}
.menu{
    position: absolute;
    right: 110px;
    top: 130px;
}
.line{
    position: absolute;
    right: 145px;
    top: -25px;
}
.vocimenu{
    width: 10%;
}
.vocimenu a:hover{
    color: white;
}
.footer-elements {
    margin-left:35%;
    width: 45%;
    float: left;
}
.img{
    float:right;
    width:628px;
    height:375px;
    margin-top: 0;
}
.text{
    width:40%;
    float: left;
    margin-top: 145px;
    text-align: center;
    padding-right: 20px;
}

/* Submenu */

#header-content{
    max-width:1312px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    padding-left:15px;
    padding-right:15px;
}

nav{ float:right;
    height: 30px;
    padding:5px;
    margin-top:18px;
    text-align: center;
}
nav ul li{
    display: inline-block;
    height:30px;
    width:auto;
    font-size:20px;
    font-family:Montserrat, sans-serif;
    margin-right:20px;
}
nav ul li a:hover{
    color:white;
}
#gallery{
    margin-right: 0;
    padding-right:5px;
}
button{background-color: #8890BF;}
.dropbtn {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8890BF;
    min-width: 91px;
    box-shadow: 0 8px 16px 0 #8890BF;
    z-index: 2;
    border:solid 3px #8890BF;
    flex-direction: column;
    margin-left: -40px;
    margin-top: 10px;
}

.dropdown-content a {
    color: black;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color:white;}

/* Sezione Serie*/
.section-serie{
    background-color: #111C59;
    width: 100%;
    height:1100px;
}
.titolo-trama{
    width:100%;
    margin-top: 30px;
    text-align: center;
    position: absolute;
}
.trama {
    height: auto;
    width: 100%;
    margin-top: 0;
    display: flex;
    background-color: #111C59;
}
.img-fluid2{
    width:628px;
    height:672px;
    margin-top:190px;
    margin-left: 5%;
}
.float-right2{
    float: right;
    margin-top:120px;
    width:50%;
    height: auto;
    margin-left: 15px;
    margin-right:25px;
}
.cast{
    width:100%;
    margin-top: 20px;
    text-align: center;
    position: absolute;
}
.cast1{
    background-color: #B5BAD7;
    width: 100%;
    height:646px;
    margin: auto;
    position: relative;
}
.personaggi1{
    height: auto;
    max-width:1440px;
    margin: auto;
    display: flex;
}
.personaggi:hover{
    color: #111C59;
    font-weight: 700;
}
.p-cast:hover{
    color: black;
    font-weight: 700;
}
.jenna{
    max-width: 33%;
    height: 505px;
    margin-top: 80px;
    flex: 1;
    text-align: center;
    margin-left: 20px;
}
.img-cast{
    width: 250px;
    height: 250px;
}
.img-cast:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.catherine{
    max-width: 33%;
    height: 505px;
    margin-top: 80px;
    flex: 1;
    text-align: center;
    margin-left: 10px;
}
.gomez{
    max-width: 33%;
    height: 505px;
    margin-top: 80px;
    flex: 1;
    text-align: center;
    margin-right: 20px;
}
.cast2{
    background-color: #B5BAD7;
    width: 100%;
    height:646px;
}
.personaggi2{
    height: auto;
    max-width:1440px;
    margin: auto;
    display: flex;
}
.enid{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-left: 20px;
}
.xavier{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-left: 10px;
}
.tyler{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-right: 20px;
}
.cast3{
    background-color: #B5BAD7;
    width: 100%;
    height:646px;
}
.personaggi3{
    height: auto;
    max-width:1440px;
    margin: auto;
    display: flex;
}
.preside{
    max-width:33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-left: 20px;
}
.prof{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-left: 10px;
}
.sceriffo{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-right: 20px;
}
.cast4{
    background-color: #B5BAD7;
    width: 100%;
    height:646px;
}
.personaggi4{
    height: auto;
    max-width:1440px;
    margin: auto;
    display: flex;
}
.bianca{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-left: 20px;
}
.eugene{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-left: 10px;
}
.ajax{
    max-width: 33%;
    height: 505px;
    margin-top: 50px;
    flex: 1;
    text-align: center;
    margin-right: 20px;
}
.curiosità{
    background-color: #111C59;
    height:774px;
    display: flex;
}
.titolo-curiosità{
    width:100%;
    margin-top: 65px;
    text-align: center;
}
.cards{
    height: auto;
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card-jenna{
    width: 33%;
    height: 565px;
    background-color: #8890BF;
    margin-top: 15px;
}
.card-jenna:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.card-mano{
    width: 33%;
    height: 565px;
    background-color: #8890BF;
    margin-top: 15px;
}
.card-mano:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.card-protagoniste{
    width: 33%;
    height: 565px;
    background-color: #8890BF;
    margin-top: 15px;
}
.card-protagoniste:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.img-curiosità {
   width: 100%;
}

/* Sezione gallery */
.section-gallery{
    background-color: #B5BAD7;
    padding-top: 50px;
    padding-bottom: 75px;
}
.gallery1{
    width: 100%;
    display: flex;
    gap: 5%;
    max-width:1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.titolo-gallery{
    width:100%;
    text-align: center;
}
.foto1{
    width: 40%;
    flex: 1;
}
.foto2{
    width: 40%;
    flex: 1;
}
.class-foto{
    width: 100%;
}
.gallery2{
    width: 100%;
    display: flex;
    gap: 5%;
    max-width:1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.foto3{
    width: 40%;
    flex: 1;
}
.foto4{
    width: 40%;
    flex: 1;
}
.gallery3{
    width: 100%;
    display: flex;
    gap: 5%;
    max-width:1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    justify-content: space-between;
}
.foto5{
    width: 40%;
    flex: 1;
}
.foto6{
    width: 40%;
    flex: 1;
}
/* FOOTER ICONS */

.footer-icons{
    margin-bottom: 40px;
    margin-top: 50px;
}
#facebook{
    margin-right: 30px;
    width: 45px;
    height: 45px;
}
#facebook:hover{
    transform: scale(1.5)
}
#instagram{
    margin-right: 30px;
    width: 45px;
    height: 45px;
}
#instagram:hover{
    transform: scale(1.5)
}

#twitter{
    margin-right: 30px;
    width: 45px;
    height: 45px;
}
#twitter:hover{
    transform: scale(1.5)
}
#link{
    margin-right: 30px;
    width: 45px;
    height: 45px;
}
#link:hover{
    transform: scale(1.5)
}
#rivista{
    margin-right: 30px;
    width: 45px;
    height: 45px;
}
#rivista:hover{
    transform: scale(1.5)
}
.logo-footer {
    width: 30%;
    float: left;
    margin-top: 25px;
}
.home{
    margin-top: 15px;
}
.serie{
    margin-top: 15px;
}
.gallery{
    margin-top: 15px;
}
